
#first_section{
	margin-top: 20px;
	background: orange;
	padding-bottom: 20px;
}

#second_col{
	height: 400px;
	width: 300px;
	padding: 5px;
	margin-top: 15px;
	text-align: justify;
	background:blue;
	color: white;
}

#second_section{

	margin-top: 20px;
	background: #515875;
	padding: 20px;
}

.second_tem{

	text-align: justify;
	color: white;
	margin-top: 15px;

}
.second_tem h4{
	font-style: italic;
	color: black;
}

#imgcustom img{

	border-radius: 0px;

}

#rdmore a{

	border: 1px solid white;
	color: white;
	padding: 7px;
	text-decoration: none;

}
#rdmore a:hover{
	background: #658965;
	color: white;
}

.mynav{
	background:#C3DAEC;

}

.topnav input[type=text] {
	background-color: skyblue;
    float: right;
    padding: 4px;
    border: none;
    margin-top: 5\3px;
    margin-right: 16px;
    font-size: 17px;
}


#footer_section{
	background:black;
	color: white;
	padding: 25px;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.form-control{border:0; box-shadow:none}
.form-control:focus{box-shadow:none;}

label{color:#999;  padding-top: 5px; display:block; left:0; width:100%}

.panel{border-width:2px; border-radius:7px}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{border:2px solid #eee; vertical-align: middle;}
.table-bordered{border-radius:7px}

.form-control::-moz-placeholder {
color: #999;
opacity: 1
}
.form-control:-ms-input-placeholder {
color: #999
}
.form-control::-webkit-input-placeholder {
color: #999
}
.amar_btn{
  color: white;
  text-decoration: none;
}
